$primaryColor:#F4E041;
$secondaryColor:#00BDD3;
$mainBackgroungColor:#F8f8f8;


$visitedLink:black;
$activeButtonColor:#F4E041;
$hoverButtonColor:#FFE302;
$inActiveButtonColor:#B4B4B4;
$textColor: #000000DE;
$textColorAdditional:#ffffffDE;

$errorColor: #CB3D40;

$cardGap:20px;